{% extends 'accounts/main.html' %}

{% load static %}

{% block content %}

<style>
    
    .container {padding: 16px;}
    
    input[type=text], input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
    }
    
    input[type=text]:focus, input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }
    
    a {color: dodgerblue;}
    
    .signin {
      background-color: darkseagreen;
      text-align: center;
      color: aliceblue;
      max-width: 30%;
      border-radius: 20px;
    }
    
    .responsive {max-width: 100%;height: auto;
      float: center;
      }
      .margin_box{max-width: 1000px; margin: auto;}
      h1{text-align: center; margin: 5%;}
      .box_border{border-style: solid; border-width: 5px; 
        border-color: #1b4571; margin: 5%;}
      h4{margin: 3%;}
      .submit_btn{background-color: green; color: aliceblue; max-width: 30%; 
        margin: auto; margin-bottom: 5%; margin-top: 5%;}
      .box_border p{margin: 5%;}
</style>
</head>
<body>
  <div class="responsive">
    <img class="responsive" src="/images2/images/banner.png">
  </div>
  <hr>
  
  <div class="margin_box">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="box_border">

        <h1>Edit your company</h1>

        <hr>
        
    {{formset.as_p}}

   <p style="text-align: center;"> <input type="submit" name="accept" class="btn btn-lg btn-success"></p>
      </form>
    </div>
    </div>
    
</body>

</html>
{% endblock %}
