{% load static %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

<style>

    .footer {
        background-color: #1b4571;
        bottom: 0%;
        text-align: center;
        font-family: Roboto;
        color: white;
        font-size: xx-large;
        clear: both;
    }
    hr{
        color: #1b4571;
    }
        .footerimg {
            max-width: 20%;
            
            width: auto;
        }
    </style>
    
    <footer class="footer">
        <hr><hr>
        <p>Follow us on social media!</p>
        <hr>
        <img class="footerimg" src="/images/images/logo-color-small .png" alt=""> |   
        <img src="/images/images/facebook-48.png" alt="">
        <img src="/images/images/linkedin-48.png" alt="">
        <img src="/images/images/twitter-48.png" alt="">
        
    <hr><hr><hr>
    </footer>